#addForm {
    background-color: #FFD733;
}

.table {
    background-color: #fff0a0;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}

.input-group-text {
    background-color: #7a7a78;
    color: white;
    margin-right: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

#formGroupExampleInput8 {
    background-color: #7a7a78;
    color: white;
}

.addForm {
    padding-bottom: 1px;
    border-radius: 5px;
}

.form-control {
    background-color: #fff0a0;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.form-select {
    background-color: #fff0a0;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.id {
    font-size: 22px;
}

body {
    background-image: url("brown-brick-wall-bricks-architecture-orange-building-wallpaper-1920x1200_6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid {
    background-color: #FFD733;
    padding: 5px;
    margin-bottom: 10px;
}

.d-flex {
    background-color: #FFD733;
}

.btn-group-vertical {
    background-color: #FFD733;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.card-body {
    background-color: #fff0a0;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.page-link {
    background-color: #FFD733;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.modal-content {
    background-color: #FFD733;
}