#addForm {
    background-color: #ffd500;
}

.input-group-text {
    background-color: #e8b104;
}

#formGroupExampleInput8 {
    background-color: #e8b104;
}

.addForm {
    padding-bottom: 1px;
    border-radius: 5px;
}

.form-control {
    background-color: #fff0a0;
}

.form-select {
    background-color: #fff0a0;
}

.id {
    font-size: 22px;
}

body {
    background-color: #e8b104;
}

.container-fluid {
    background-color: #ffd500;
}

.d-flex {
    background-color: #ffd500;
}

.btn-group-vertical {
    background-color: #ffd500;
}

.card-body {
    background-color: #ffd500;
}

.page-link {
    background-color: #ffd500;
}

.modal-content {
    background-color: #ffd500;
}