<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
  <title>Dodaj ogłoszenie</title>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<form class="col-12">
  <div class="mb-3">
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Tu wpisz treść ogłoszenia">
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Tu wpisz imię i nazwisko">
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Tu wpisz telefon kontaktowy">
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Tu wpisz email">
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Miasto</label>
    <select class="form-select" id="inputGroupSelect01">
      <option selected>Wybierz...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect02">Kategoria</label>
    <select class="form-select" id="inputGroupSelect02">
      <option selected>Wybierz...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect03">Słowo kluczowe</label>
    <select class="form-select" id="inputGroupSelect03">
      <option selected>Wybierz...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Zatwierdź</button>
  </div>

</form>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>