<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <title>Dodaj ogłoszenie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/add style.css}"/>
</head>
<body>
<div th:insert="~{fragments/header :: header-add}"></div>


<form id="addForm" class="addForm col-10 mt-5 mb-5 mx-auto" action="#" th:action="@{/user/addOffer}"
      th:object="${offer}"
      method="post">
    <hr>
    <div class="id mb-4 mt-3 col-4">
        <span>Formularz dodawania oferty: </span>
    </div>
    <hr/>
    <div class="mb-4 mt-5">
        <input type="text" class="form-control" id="formGroupExampleInput2" th:field="*{city}"
               placeholder="Tu wpisz miasto / pole wymagane" required>
        <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error-message"></div>
    </div>
    <div class="mb-4">
        <input type="text" class="form-control" id="formGroupExampleInput3" th:field="*{userFirstName}"
               placeholder="Tu wpisz imię">
    </div>
    <div class="mb-4">
        <input type="text" class="form-control" id="formGroupExampleInput4" th:field="*{userLastName}"
               placeholder="Tu wpisz nazwisko">
    </div>
    <div class="mb-4">
        <input type="text" class="form-control" id="formGroupExampleInput5" th:field="*{userCompanyName}"
               placeholder="Tu wpisz nazwę firmy / pole wymagane" required>
        <div th:if="${#fields.hasErrors('userCompanyName')}" th:errors="*{userCompanyName}" class="error-message"></div>
    </div>
    <div class="mb-4">
        <input type="text" class="form-control" id="formGroupExampleInput6" th:field="*{userTelephoneNumber}"
               placeholder="Tu wpisz telefon kontaktowy / pole wymagane" required>
        <div th:if="${#fields.hasErrors('userTelephoneNumber')}" th:errors="*{userTelephoneNumber}"
             class="error-message"></div>
    </div>
    <div class="mb-5">
        <input type="email" class="form-control" id="formGroupExampleInput7" th:field="*{userEmailAddress}"
               placeholder="Tu wpisz email / pole wymagane" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        <div th:if="${#fields.hasErrors('userEmailAddress')}" th:errors="*{userEmailAddress}"
             class="error-message"></div>
    </div>
    <div class="mb-5">
        <textarea class="form-control" id="formGroupExampleInput1" th:field="*{offerContent}"
                  placeholder="Tu wpisz treść ogłoszenia" style="height: 10em"></textarea>
    </div>
    <div class="input-group mb-4">
        <label class="input-group-text" for="inputGroupSelect">Kategoria</label>
        <select class="form-select" id="inputGroupSelect" th:field="*{serviceCategory}">
            <option th:value="${T(justbuild.it.web.app.entity.enums.ServiceCategoryEnum).CONSTRUCTION.name()}">Budowa
            </option>
            <option th:value="${T(justbuild.it.web.app.entity.enums.ServiceCategoryEnum).FINISHING_WORKS.name()}">
                Remont
            </option>
            <option th:value="${T(justbuild.it.web.app.entity.enums.ServiceCategoryEnum).INSTALLATION.name()}">
                Instalacje
            </option>
            <option th:value="${T(justbuild.it.web.app.entity.enums.ServiceCategoryEnum).ELECTRICITY.name()}">
                Elektryka
            </option>
            <option th:value="${T(justbuild.it.web.app.entity.enums.ServiceCategoryEnum).EARTH_WORKS.name()}">Roboty
                ziemne
            </option>
            <option th:value="${T(justbuild.it.web.app.entity.enums.ServiceCategoryEnum).GARDEN.name()}">Ogród</option>
        </select>
    </div>
    <div class="mb-4">
        <input type="text" class="form-control" id="formGroupExampleInput8" th:field="*{dateTime}" readonly>
    </div>
    <hr>
    <div class="buttons mb-4">
        <button type="button" class="btn btn-outline-dark mr-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Zatwierdź
        </button>
        <a href="/" class="btn btn-dark" role="button" data-bs-toggle="modal"
           data-bs-target="#staticBackdrop2">Wróć do strony głównej</a>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Potwierdź dodanie oferty</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Czy chcesz zapisać swoją ofertę i wrócić do strony głównej ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Nie</button>
                    <button type="button" class="btn btn-outline-dark" onclick="const city = document.getElementById('addForm').elements['city'].value;
                                                                const company = document.getElementById('addForm').elements['userCompanyName'].value;
                                                                const phone = document.getElementById('addForm').elements['userTelephoneNumber'].value;
                                                                const email = document.getElementById('addForm').elements['userEmailAddress'].value;
                                                                const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
          if(city && company && phone && email && emailRegex.test(email)){
            document.getElementById('addForm').submit();
          } else {
            alert('Proszę uzupełnić wszystkie wymagane pola: miasto, nazwę firmy, telefon i email.');
          }">Tak
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel2">Potwierdź rezygnację</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Czy chcesz przerwać dodawanie oferty i wrócić do strony głównej ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Nie</button>
                    <a href="/" class="btn btn-outline-dark" role="button">Tak</a>
                </div>
            </div>
        </div>
    </div>
</form>
<div th:insert="~{fragments/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>