<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/add style.css}"/>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<nav id="navbar" class="navbar navbar-light rounded mx-3" style="background-color: #ffd500;">
    <div class="container-fluid border-primary justify-content-md-center">
        <form class="d-flex" th:action="@{/searchOffer}" method="get">
            <input class="form-control me-2 mx-2 justify-content-center" type="text"
                   name="searchValue" th:value="${searchValue}" placeholder="Szukaj ogłoszenia" aria-label="Search">
            <button type="submit" class="btn btn-outline-primary">Szukaj</button>
        </form>
    </div>
</nav>
<div class="container-fluid-mx-3 mt-5 mb-5">
    <div class="row">
        <div class="col-md-4">
            <form class="btn-group-vertical btn-group-lg ml-3" aria-label="Basic outlined example" th:action="@{/searchOffer}" method="get" style="height: 400px; width: 250px">
                <button type="submit" class="btn btn-outline-primary" name="category" value="Budowa">Budowa</button>
                <button type="submit" class="btn btn-outline-primary" name="category" value="Remont">Remont</button>
                <button type="submit" class="btn btn-outline-primary" name="category" value="Instalacje">Instalacje</button>
                <button type="submit" class="btn btn-outline-primary" name="category" value="Elektryka">Elektryka</button>
                <button type="submit" class="btn btn-outline-primary" name="category" value="Roboty ziemne">Roboty ziemne</button>
                <button type="submit" class="btn btn-outline-primary" name="category" value="Ogród">Ogród</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div th:each="offer : ${offerDtoPage}" class="col-md-4 mb-5">
                    <div class="card">
                        <div class="card-body overflow-auto" style="height: 250px; width: 100%">
                            <h5 class="card-title" th:text="${offer.userCompanyName}">Oferta</h5>
                            <p class="card-text" th:text="${offer.offerContent}">Opis oferty.</p>
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                    th:data-bs-target="'#modal-' + ${offer.dtoOfferId}">Szczegóły
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{/(size=${offerDtoPage.size}, page=${offerDtoPage.previousPageable().getPageNumber() + 1})}"
                   th:if="${offerDtoPage.hasPrevious}">
                    Previous
                </a>
            </li>
            <li th:each="pageNumber : ${pageNumbers}" class="page-item"
                th:classappend="${pageNumber==offerDtoPage.number + 1} ? 'active'">
                <a class="page-link" th:href="@{/(size=${offerDtoPage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"></a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/(size=${offerDtoPage.size}, page=${offerDtoPage.number + 2})}"
                   th:if="${offerDtoPage.hasNext}">
                    Next
                </a>
            </li>
        </ul>
    </nav>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>