<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <title>home</title>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<nav class="navbar navbar-light rounded bg-light mx-3">
    <div class="container-fluid border-primary justify-content-md-center">
        <form class="d-flex" th:action="@{/searchOffer}" method="get">
            <input class="form-control me-2 mx-2 justify-content-center" type="text"
                   name="searchValue" th:value="${searchValue}" placeholder="Szukaj ogłoszenia" aria-label="Search">
            <button type="submit" class="btn btn-outline-info">Szukaj</button>
        </form>
    </div>
</nav>

<div>
    <form class="btn-group-vertical me-2 mx-3 my-3" role="group" aria-label="Basic outlined example" th:action="@{/searchOffer}" method="get">
        <button type="submit" class="btn btn-outline-primary" name="category" value="Budowa">Budowa</button>
        <button type="submit" class="btn btn-outline-primary" name="category" value="Remont">Remont</button>
        <button type="submit" class="btn btn-outline-primary" name="category" value="Instalacje">Instalacje</button>
        <button type="submit" class="btn btn-outline-primary" name="category" value="Elektryka">Elektryka</button>
        <button type="submit" class="btn btn-outline-primary" name="category" value="Roboty ziemne">Roboty ziemne</button>
        <button type="submit" class="btn btn-outline-primary" name="category" value="Ogród">Ogród</button>
    </form>
</div>

<div class="container" style="height: 60vh">
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>