<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/add style.css}"/>

</head>
<body class="security">
<h2>Please sign in</h2>
<br>
<div class="navigation">
    <a href="/">Wróć do strony głównej</a>
</div>
<hr>
<br>
<br>
<div>
    <form name='f' th:action="@{/login_form}" method="post">
        <label for="username">Login:</label>
        <br>
        <br>
        <input class="loginForm" type="text" id="username" name="username">
        <br>
        <br>
        <label for="password">Password</label>
        <br>
        <br>
        <input class="loginForm" type="password" id="password" name="password">
        <br>
        <br>
        <br>
        <input class="squares" name="submit" type="submit" value="Zaloguj">
    </form>
</div>
</body>
</html>