<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <title>Wyszukaj ogłoszenie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/add style.css}"/>
</head>

<body>
<div th:insert="~{fragments/header :: header-add}"></div>

<nav id="navbar" class="navbar navbar-light rounded mx-3" style="background-color: #fabf4b;">
    <div class="container-fluid border-primary justify-content-md-center">
        <form class="d-flex" th:action="@{/searchOffer}" method="get">
            <input class="form-control me-2 mx-2 justify-content-center" type="text"
                   name="searchValue" th:value="${searchValue}" placeholder="Szukaj ogłoszenia" aria-label="Search">
            &nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-dark">Szukaj</button>
        </form>
    </div>
</nav>

<form id="addForm" class="addForm col-10 mt-5 mb-5 mx-auto">
    <br>
    <div class="col gy-4 text-center ">
        <h2>Znalezione oferty:</h2>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id:</th>
                <th>Kategoria:</th>
                <th>Firma:</th>
                <th>Miasto:</th>
                <th>Dodano:</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${filteredOfferDtoList}">
                <td th:text="${offer.dtoOfferId}"></td>
                <td th:text="${offer.serviceCategory}"></td>
                <td th:text="${offer.userCompanyName}"></td>
                <td th:text="${offer.city}"></td>
                <td th:text="${#temporals.format(offer.dateTime,'dd-MM-yyyy HH:mm')}"></td>
                <td>
                    <button id="button-shadow" type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                            th:data-bs-target="'#modal-' + ${offer.dtoOfferId}">Szczegóły
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="pagination-container">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" style="color: black"
                               th:href="@{/searchOffer(searchValue=${searchValue}, page=0, category=${category}, sizeList=${filteredOfferDtoList.size}, pageList=${filteredOfferDtoList.previousPageable().getPageNumber() + 1})}"
                               th:if="${filteredOfferDtoList.hasPrevious}">
                                Previous
                            </a>
                        </li>
                        <li th:each="pageNumber : ${pagesDtoList}" class="page-item"
                            th:classappend="${pageNumber==filteredOfferDtoList.number + 1} ? 'active'">
                            <a id="active-black" class="page-link" style="color: black; border-color: #fabf4b"
                               th:href="@{/searchOffer(searchValue=${searchValue}, page=0, category=${category}, sizeList=${filteredOfferDtoList.size}, pageList=${pageNumber})}"
                               th:text="${pageNumber}"></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" style="color: black; border-color: #fabf4b"
                               th:href="@{/searchOffer(searchValue=${searchValue}, page=0, category=${category}, sizeList=${filteredOfferDtoList.size}, pageList=${filteredOfferDtoList.number + 2})}"
                               th:if="${filteredOfferDtoList.hasNext}">
                                Next
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tfoot>
        </table>
        <div th:each="offerToModal : ${filteredOfferDtoList}">
            <div class="modal fade" th:id="'modal-' + ${offerToModal.dtoOfferId}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-dark text-white" style="box-shadow: 10px 10px 30px 0 #000000;">
                            <h5 class="modal-title text-center"
                                th:text="${offerToModal.userCompanyName + ', ' + offerToModal.city}"></h5>
                            <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal">
                                <span class="text-white" aria-hidden="true">x</span>
                            </button>
                        </div>
                        <div class="modal-body text-left">
                            <h6>Oferta:</h6>
                            <p th:text="${offerToModal.offerContent}"></p>
                            <h6>Kontakt:</h6>
                            <p>Firma: <span th:text="${offerToModal.userCompanyName}"></span></p>
                            <p>Imię: <span th:text="${offerToModal.userFirstName}"></span></p>
                            <p>Nazwisko: <span th:text="${offerToModal.userLastName}"></span></p>
                            <p>Telefon: <span th:text="${offerToModal.userTelephoneNumber}"></span></p>
                            <p>Email: <span th:text="${offerToModal.userEmailAddress}"></span></p>
                            <a th:href="'/editOffer/' + ${offerToModal.dtoOfferId}" th:text="'Edycja'" type="button"
                               id="button-shadow2" class="btn btn-outline-dark"></a>
                        </div>
                        <div class="modal-footer bg-dark text-white" style="box-shadow: 10px 10px 30px 0 #000000;">
                            <p th:text="'Id: ' + ${offerToModal.dtoOfferId}"></p>
                            <p th:text="'Data dodania / modyfikacji : ' + ${#temporals.format(offerToModal.dateTime,'dd-MM-yyyy HH:mm')}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form>
        <br>
        <div class="buttons mb-4 text-center">
            <a href="/" class="btn btn-dark" role="button"
               data-bs-target="#staticBackdrop2">Wróć do strony głównej
            </a>
        </div>
    </form>

    <div th:insert="~{fragments/footer :: footer}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous">
    </script>


</form>
</body>
</html>